// Place all the styles related to the api/v1/welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin-bottom: 50px;
}
code {
  background-color: #dad4d7;
  color: #000050;
  margin: 10px;
  padding: 10px;
}
h1, h2, h3, h4 {
  color:black;
}
div#h1 {
  margin-left: 5px;
}
div#h2 {
  margin-left: 20px;
}
div#h3 {
  margin-left: 40px;
}
div#h4 {
  margin-left: 50px;
}
div#h1,div#h2,div#h3,div#h4 {
  width: auto;
}
p {
  margin-left: 10px;
  position:inherit;
}