// Place all the styles related to the institutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input.lang_field {
  width: 1pc;
  border: none;
}
input.name_field {
  width: 20pc;

}